Print "Hello World"

In [ ]:
print("Hello World")

Hello World

In [ ]:
a=10
b=3
c=a+b
print(a,"+",b,"-->",c)

10 + 3 --> 13

In [ ]:
a,b,c

(10, 3, 13)

In [1]:
a="Neeraj"
b="Bhardwaj"
c=" "
d=a+c+b
print(d)

Neeraj Bhardwaj

In [ ]:
a="Rohit"
b=100
c=a+str(b)   # convert number to string by str
print(c)

Rohit100

In [2]:
a=input("Enter first string: ")
b=input("Enter second string: ")
c=a+b
print(c)

Enter first string: Neeraj
Enter second string: Bhardwaj
NeerajBhardwaj

In [ ]:
a=input("Enter first string: ")
b=input("Enter Number: ")
c=a+str(b)
print(c)

Enter first string: Rohit
Enter Number:  100
Rohit 100

In [ ]:
a=int(input("Enter first Number: "))
b=int(input("Enter Second Number: "))
c=a+b
print(c)

Enter first Number: 12
Enter Second Number: 4
16

In [ ]:
i=1
while i<=10:
 print(2*i)
 i=i+1

2
4
6
8
10
12
14
16
18
20

In [ ]:
range(1,11)

range(1, 11)

In [ ]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
print(list(range(1,11)))
print(list(range(10,20)))
print(list(range(2,20,2)))
print(list(range(-10,-20,2))) # output is empty because -10+2=-8 but range is -10 t0 -20
print(list(range(-10,-20,-2)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
[]
[-10, -12, -14, -16, -18]

In [ ]:
for i in range(0,10,3):
 print(i)

0
3
6
9

In [ ]:
a=int(input("Enter Number: "))
for i in range(1,11):
 print(a*i)

Enter Number: 21
21
42
63
84
105
126
147
168
189
210

In [ ]:
a=input("Enter Number: ")
for i in range(1,11):
 print(a*i)

Enter Number: 6
6
66
666
6666
66666
666666
6666666
66666666
666666666
6666666666

In [ ]:
print(sum(range(1,11)))

55

In [ ]:
a=int(input("Enter First No: "))
b=int(input("Enter Second No: "))
if a>b:
  print(a,">",b)
  x=90
  y=100
else:
  print(a,"<",b)

Enter First No: 88
Enter Second No: 96
88 < 96

In [ ]:
n=int(input("Enter Number: "))
f=0
for i in range(2,n//2 +1):
  if n%i==0:
    f=1
    break
if f==0:
  print("Prime")
else:
  print("Not Prime")

Enter Number: 55
Not Prime

In [ ]:
a= input("Enter First String: ")
b= input("Enter Second String: ")
if a==b:
  print(a,"=",b)
elif a>b:
  print(a,">",b)
else:
  print(a,"<",b)

Enter First String: India
Enter Second String: InDia
India > InDia

In [ ]:
def AddN(n):
  s=sum(range(n+1))
  return s

print (AddN(10))
print (AddN(20))
print (AddN(50))
print (AddN(200))

55
210
1275
20100

In [ ]:
import math as n
print ("exp(200) --> ", n.exp(200))
print ("log(100,2) --> ", n.log(100,2))
print ("log(100,10) --> ", n.log(100,10))
print ("log10(100) --> ", n.log10(100))
print ("cos(30) --> ", n.cos(30))
print ("sin(30) --> ", n.sin(30))
print ("sqrt(324) --> ", n.sqrt(324))
print ("ceil(89.9) --> ", n.ceil(89.9))
print ("floor(89.9) --> ", n.floor(89.9))

exp(200) -->  7.225973768125749e+86
log(100,2) -->  6.643856189774725
log(100,10) -->  2.0
log10(100) -->  2.0
cos(30) -->  0.15425144988758405
sin(30) -->  -0.9880316240928618
sqrt(324) -->  18.0
ceil(89.9) -->  90
floor(89.9) -->  89

 Indexing in String

In [ ]:
var = 'Hello World!'
print ("var  -->", var)
print ("var[0]  -->", var[0])
print ("var[1:5]  -->", var[1:5])
print ("var[:-5]  -->", var[:-5])
print ("var[1:10:2]  -->", var[1:10:2]) # skip 1 letter after taking letter
print ("var[1:10:4]  -->", var[1:10:4]) # skip 3 letter after taking letter
print (len(var))

var  --> Hello World!
var[0]  --> H
var[1:5]  --> ello
var[:-5]  --> Hello W
var[1:10:2]  --> el ol
var[1:10:4]  --> e l
12

String Length,upper,lower

In [ ]:
print("String -->",var)
print("length -->",len(var))
print("Upper -->",var.upper())
print("Lower -->",var.lower())

String --> Hello World!
length --> 12
Upper --> HELLO WORLD!
Lower --> hello world!

String Formatting

In [3]:
name=input("Enter your name: ")
age=int(input("Enter Your Age: "))
price=float(input("Enter the Book Price: "))
s="\n Your name is %s, Age is %d,Book Price is %f" %(name.upper(),age,price)
print(s)

Enter your name: Neeraj
Enter Your Age: 21
Enter the Book Price: 999

 Your name is NEERAJ, Age is 21,Book Price is 999.000000

String In Triple Quotes

In [4]:
para_str = '''I am Neeraj
My Hobbie is swimming
'''
para_sstr = """I am Neeraj
My Hobbie is swimming
"""
print(para_str)
print(para_sstr)

I am Neeraj
My Hobbie is swimming

I am Neeraj
My Hobbie is swimming

String Strip

In [ ]:
var =" Nicobar  Island   "
print("String -->",var)
print("length -->",len(var))
print("var strip -->",var.strip())
print("length after strip -->",len(var.strip()))

String -->  Nicobar  Island
length --> 19
var strip --> Nicobar  Island
length after strip --> 15

String Split

In [ ]:
var =" Nicobar  Island   "
print("String -->",var)
print("length -->",len(var))
print("var split -->",var.split())
print("var split -->",var.split(' '))
print("var split -->",var.split(','))

#Strip + split
print("var split -->",var.strip().split(','))

String -->  Nicobar  Island
length --> 19
var split --> ['Nicobar', 'Island']
var split --> ['', 'Nicobar', '', 'Island', '', '', '']
var split --> [' Nicobar  Island   ']
var split --> ['Nicobar  Island']

Count in string

In [ ]:
var =" nicobar  Island   "
print("String -->",var)
print("Count of ' ' -->",var.count(' '))
print("Count of 'o' -->",var.count('o'))
print("Count of 'nd' -->",var.count('nd'))
print("Count of 'n' -->",var.count('n'))
print("Count of 'y' -->",var.count('y'))
print((var.count('d')*100))

String -->  nicobar  Island
Count of ' ' --> 6
Count of 'o' --> 1
Count of 'nd' --> 1
Count of 'n' --> 2
Count of 'y' --> 0
100

Reverse a String

In [ ]:
var='Indian Army'
print("var[::1] -->",var[::1])
print("var[::2] -->",var[::2])
print("var[::-1] -->",var[::-1])
print("var[::-2] -->",var[::-2])

var[::1] --> Indian Army
var[::2] --> Ida ry
var[::-1] --> ymrA naidnI
var[::-2] --> yr adI

Palindrome

In [ ]:
s1="Indian Army"
s2="malayalam"
s3="madam"
s4="teacher"
print("s1 -->", s1==s1[::-1])
print("s2 -->", s2==s2[::-1])
print("s3 -->", s3==s3[::-1])
print("s4 -->", s4==s4[::-1])

s1 --> False
s2 --> True
s3 --> True
s4 --> False

Random Numbers/String

Generate Random number between 0 and 1

In [ ]:
import random as r
print(r.random())
print(r.random())
print(round(r.random(),4)) # round off upto 4 decimal places

0.46865600610846436
0.3075252523171895
0.8558

Generate Random Integer Number

In [ ]:
import random as r
print(r.randint(1,100))
print(r.randint(1,100))
print(r.randint(-10,1))
print(r.randint(-10,10))

87
55
-8
0

Generate Random Real Number

In [ ]:
import random as r
print(r.uniform(1,100))
print(r.uniform(1,100))
print(r.uniform(-10,1))
print(r.uniform(-10,10))
print(round(r.uniform(-10,10),2))

34.06047130350291
8.869376585707064
-9.300896063710198
1.8795235261463041
8.27

Select Sample from a list of elements

In [ ]:
import random as r
A=[1,2,3,4,5,6,7,8,9,10]

print(r.sample(A,4))
print(r.sample(A,2))
print(r.sample(range(0,100),2))
print(r.sample(range(-100,100),5))

[4, 8, 6, 5]
[6, 3]
[11, 3]
[-42, -82, 98, -44, -100]

Generate Random String

In [ ]:
import string as s
import random as r
print("String  --->",s.ascii_letters)

passwd=r.sample(s.ascii_letters,6) # we replace 6 by integer upto 104
print("Selected char -->",passwd)
passwd1="".join(passwd)
print("passwd1 -->",passwd1)
passwd2="+".join(passwd)
print("passwd2 -->",passwd2)
passwd3="*".join(passwd)
print("passwd3 -->",passwd3)

String  ---> abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
Selected char --> ['v', 'Z', 'x', 'P', 'q', 'O']
passwd1 --> vZxPqO
passwd2 --> v+Z+x+P+q+O
passwd3 --> v*Z*x*P*q*O

Generate Random digits

In [ ]:
import string as s
import random as r
print("Digits  -->",s.digits)

otp=r.sample(s.digits,5)
print("Selected num -->",otp)
otp="".join(otp)
print("otp1 -->",otp)

otp=r.sample(s.digits,6)
print("Selected num2 -->",otp)
otp="".join(otp)
print("otp1 -->",otp)

otp=r.sample(s.digits,5)
print("Selected num3 -->",otp)
otp="".join(otp)
print("otp1 -->",otp)

Digits  --> 0123456789
Selected num --> ['5', '7', '9', '0', '1']
otp1 --> 57901
Selected num2 --> ['0', '3', '6', '9', '2', '8']
otp1 --> 036928
Selected num3 --> ['0', '8', '7', '9', '6']
otp1 --> 08796

In [ ]:
import string as s
import random as r
print("String + Digits  -->",s.ascii_letters + s.digits)

MixPasswd=r.sample(s.ascii_letters + s.digits,5)
print("P -->",MixPasswd)
MixPasswd="".join(MixPasswd)
print("MixPasswd -->",MixPasswd)

MixPasswd=r.sample(s.ascii_letters + s.digits,6)
print("P -->",MixPasswd)
MixPasswd="".join(MixPasswd)
print("MixPasswd -->",MixPasswd)

MixPasswd=r.sample(s.ascii_letters + s.digits,8)
print("P -->",MixPasswd)
MixPasswd="".join(MixPasswd)
print("MixPasswd -->",MixPasswd)

SPLCHAR="!@#$%^&*()_+"
MixPasswd=r.sample(SPLCHAR+s.ascii_letters + s.digits,8)
print("P -->",MixPasswd)
MixPasswd="".join(MixPasswd)
print("MixPasswd -->",MixPasswd)

String + Digits  --> abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789
P --> ['u', 'm', 'B', 'X', 'j']
MixPasswd --> umBXj
P --> ['t', 'c', 'a', '5', 'D', 'p']
MixPasswd --> tca5Dp
P --> ['B', 'd', 'F', 'v', 'P', 'e', 'k', '7']
MixPasswd --> BdFvPek7
P --> ['K', 'H', '2', 'l', 'n', 'Z', '+', 'c']
MixPasswd --> KH2lnZ+c

Exception Handaling

   Error Generation

In [ ]:
for i in range(-5,6):
 print("100/",i,"-->",100/i)

100/ -5 --> -20.0
100/ -4 --> -25.0
100/ -3 --> -33.333333333333336
100/ -2 --> -50.0
100/ -1 --> -100.0

ZeroDivisionError: division by zero

Exception handling for divison by zero

In [ ]:
for i in range(-5,6):
  try:
      print("100/",i,"-->",100/i)
  except:
      print("error")

100/ -5 --> -20.0
100/ -4 --> -25.0
100/ -3 --> -33.333333333333336
100/ -2 --> -50.0
100/ -1 --> -100.0
error
100/ 1 --> 100.0
100/ 2 --> 50.0
100/ 3 --> 33.333333333333336
100/ 4 --> 25.0
100/ 5 --> 20.0

Exception handaling for array out of index

In [ ]:
L=[1,2,3,4,5]
for i in range(8):
  try:
    print(i,"-->",L[i])
  except:
      print("error")

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5
error
error
error

Exception handling for file not found

In [ ]:
filename=input("Enter the file name: ")
try:
  fp=open(filename)
  fp.close()
except:
  print("Error File not found")

print("done")

Enter the file name: pr
Error File not found
done

Data Structure 1 -List

List Declaration

In [5]:
L=["Neeraj",'Bhardwaj',3.14,3]
print("original list: ",L)
print("size:",len(L))

original list:  ['Neeraj', 'Bhardwaj', 3.14, 3]
size: 4

List Iteration

In [6]:
L=["Neeraj",'Bhardwaj',3.14,3]
print("original list: ",L)
i=0
while i<len(L):
 print(L[i])
 i+=1

original list:  ['Neeraj', 'Bhardwaj', 3.14, 3]
Neeraj
Bhardwaj
3.14
3

List Iteration Using Loop

In [7]:
L=["Neeraj",'Bhardwaj',3.14,3]
print("original list: ",L)
for i in range(0,len(L)):
  print(L[i])

original list:  ['Neeraj', 'Bhardwaj', 3.14, 3]
Neeraj
Bhardwaj
3.14
3

In [8]:
L=["Neeraj",'Bhardwaj',3.14,3]
print("original list: ",L)
for s in L:
  print(s)

original list:  ['Neeraj', 'Bhardwaj', 3.14, 3]
Neeraj
Bhardwaj
3.14
3

Adding and deleting from list

In [9]:
L=["Neeraj",'Bhardwaj',3.14,3]
print("original list: ",L)
L.append("Rohit")
L.insert(2,"rakesh")
print("updated list -->",L)
del L[1]
print("updated list -->",L)

original list:  ['Neeraj', 'Bhardwaj', 3.14, 3]
updated list --> ['Neeraj', 'Bhardwaj', 'rakesh', 3.14, 3, 'Rohit']
updated list --> ['Neeraj', 'rakesh', 3.14, 3, 'Rohit']

Sum/Average of List

In [ ]:
L=[3,6,7,9,4,5]
print("Orignal List -->",L)

print("Sum -->",sum(L))
print("Average -->",sum(L)/len(L))
print("Average -->",sum(L)//len(L))

print("L*3 -->",L*3)  # Every Element get tripled
print("L+L -->",L+L)  # Every Element get doubled

Orignal List --> [3, 6, 7, 9, 4, 5]
Sum --> 34
Average --> 5.666666666666667
Average --> 5
L*3 --> [3, 6, 7, 9, 4, 5, 3, 6, 7, 9, 4, 5, 3, 6, 7, 9, 4, 5]
L+L --> [3, 6, 7, 9, 4, 5, 3, 6, 7, 9, 4, 5]

Min/Max/Sort the list

In [ ]:
L=[3,6,7,9,4,5]
print("Orignal List -->",L)

print("max -->",max(L))
print("min -->",min(L))

L.sort()
print("Sorted List (Asending) -->",L)

L.sort(reverse=True)
print("Sorted List (Desending) -->",L)

Orignal List --> [3, 6, 7, 9, 4, 5]
max --> 9
min --> 3
Sorted List (Asending) --> [3, 4, 5, 6, 7, 9]
Sorted List (Desending) --> [9, 7, 6, 5, 4, 3]

Merge List and select elements

In [ ]:
L1=[3,6,9]
L2=[4,12,3,2]
L3=L1+L2
print("L1 -->",L1)
print("L2 -->",L2)
print("L3 -->",L3)

print("\nL3[2:] -->",L3[2:])
print("L3[2:5] -->",L3[2:5])
print("L3[:-1] -->",L3[:-1])
print("L3[::2] -->",L3[::2])

L1 --> [3, 6, 9]
L2 --> [4, 12, 3, 2]
L3 --> [3, 6, 9, 4, 12, 3, 2]

L3[2:] --> [9, 4, 12, 3, 2]
L3[2:5] --> [9, 4, 12]
L3[:-1] --> [3, 6, 9, 4, 12, 3]
L3[::2] --> [3, 9, 12, 2]

Multiply all element of the list by a constant

In [ ]:
L=[3,6,7,9,4,5]
print("Orignal List -->",L)
newL=[i*5 for i in L]
print("After Multifly with constant -->",newL)

Orignal List --> [3, 6, 7, 9, 4, 5]
After Multifly with constant --> [15, 30, 35, 45, 20, 25]

Searching in the list

In [ ]:
L=[3,6,7,9,4,5]
print("Orignal List -->",6 in L)
print("Orignal List -->",10 in L)
print("Orignal List -->",4 in L)

if(6 in L) == True:
  print("Present")
else:
  print("Not Present")


if (10 in L) == False:
  print("Not Present")
else:
  print("Present")

Orignal List --> True
Orignal List --> False
Orignal List --> True
Present
Not Present

Data Structure 2 - Dictonary

Declare Dictonary

In [ ]:
CGPA={1:8.9, 2:9.6, 4:6.7, 8:5.3}
print("Dictonary -->",CGPA)
print("Num of element -->", len(CGPA))
print("CGPA of 1 -->",CGPA[1])
print("CGPA of 2 -->",CGPA[2])
print("CGPA of 4 -->",CGPA[4])
print("CGPA of 8 -->",CGPA[8])

Dictonary --> {1: 8.9, 2: 9.6, 4: 6.7, 8: 5.3}
Num of element --> 4
CGPA of 1 --> 8.9
CGPA of 2 --> 9.6
CGPA of 4 --> 6.7
CGPA of 8 --> 5.3

Triverse Dictonary

In [ ]:
CGPA={1:8.9, 2:9.6, 4:6.7, 8:5.3}
for k in CGPA:
  print("CGPA of",k,"-->",CGPA[k])

CGPA of 1 --> 8.9
CGPA of 2 --> 9.6
CGPA of 4 --> 6.7
CGPA of 8 --> 5.3

Getting Keys and Values

In [ ]:
CGPA={1:8.9, 2:9.6, 4:6.7, 8:5.3}
print("Dictonary -->",CGPA)
print("keys -->",list(CGPA.keys()))
print("values -->",list(CGPA.values()))

print("Average -->",sum(CGPA.values())/len(CGPA))

Dictonary --> {1: 8.9, 2: 9.6, 4: 6.7, 8: 5.3}
keys --> [1, 2, 4, 8]
values --> [8.9, 9.6, 6.7, 5.3]
Average --> 7.625

Updating, Adding and Deleting from Dictionary

In [ ]:
CGPA={1:8.9, 2:9.6, 4:6.7, 8:5.3}
print("Dictonary -->",CGPA)

CGPA[4]=9.3
print("After updating (4) -->",CGPA)

CGPA[10]=9.1
print("After adding (10) -->",CGPA)

del CGPA[8]
print("After deleting (8) -->",CGPA)

CGPA.clear()
print("After clear -->",CGPA)

Dictonary --> {1: 8.9, 2: 9.6, 4: 6.7, 8: 5.3}
After updating (4) --> {1: 8.9, 2: 9.6, 4: 9.3, 8: 5.3}
After adding (10) --> {1: 8.9, 2: 9.6, 4: 9.3, 8: 5.3, 10: 9.1}
After deleting (8) --> {1: 8.9, 2: 9.6, 4: 9.3, 10: 9.1}
After clear --> {}

Checking for Key in Dictionary

In [ ]:
CGPA={1:8.9, 2:9.6, 4:6.7, 8:5.3}
print("Dictonary -->",CGPA)
print("Is key 2 Present -->",2 in CGPA)
print("Is key 9 Present -->",9 in CGPA)

Dictonary --> {1: 8.9, 2: 9.6, 4: 6.7, 8: 5.3}
Is key 2 Present --> True
Is key 9 Present --> False

Data Structure 3 - Set

Declare Set

In [ ]:
s= set(['A','B','C','D']) # ALL elements is unique in sets
print("Set -->",s)
print("Num of element -->",len(s))

Set --> {'A', 'B', 'D', 'C'}
Num of element --> 4

Operations on Sets

In [ ]:
a= set(['A','B','C','D'])
b= set(['G','H','K','E'])
print("Set a -->",a)
print("Set b -->",b)

print("Union -->",a.union(b))
print("Intersection -->",a.intersection(b))
print("Difference -->",a-b)
print("Symmetric Difference a-b -->",a.symmetric_difference(b))
print("Symmetric Difference b-a -->",b.symmetric_difference(a))

Set a --> {'A', 'B', 'D', 'C'}
Set b --> {'K', 'G', 'E', 'H'}
Union --> {'E', 'B', 'D', 'A', 'K', 'H', 'G', 'C'}
Intersection --> set()
Difference --> {'A', 'B', 'D', 'C'}
Symmetric Difference a-b --> {'B', 'D', 'A', 'K', 'C', 'H', 'G', 'E'}
Symmetric Difference b-a --> {'E', 'B', 'D', 'A', 'K', 'H', 'G', 'C'}

Command Line Argument

Add two numbers given at cmd line

In [ ]:
import sys
print(sys.argv)
a=int(sys.argv[1])
b=int(sys.argv[2])
c=a+b
print(a,"+",b,"-->",c)

File Handling

Writing 1 to 10 in file

In [ ]:
fp=open('result.txt','w') #open the file in writing mode
for i in range(1,11):
  fp.write(str(i) + "\n") #writing to the file line by line
fp.close()

print("Writing done !! \n open result.txt to view the content")

Writing done !!
 open result.txt to view the content

Read a file and print its content

In [ ]:
fp=open('result.txt') #open the file in reading mode
for line in fp:       # print line by line
  print(line.strip())
fp.close()

1
2
3
4
5
6
7
8
9
10

Read from one file, Convert it to upper case and write to other file

In [ ]:
Readfp=open('result.txt')            #open the file in reading mode
Writefp=open('result_upper.txt','w') #open the file in Writing mode
for line in Readfp:
  Writefp.write(line.upper())
Readfp.close()
Writefp.close()

print("writing done !! \nOpen result.txt to view the content")

writing done !!
Open result.txt to view the content